<!DOCTYPE html>
<html ng-app="priorityApp">
<head>
    <meta charset="utf-8">
    <title>Halloween Present</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <link rel="stylesheet" href="stylesheet.css">

    <script src="app.js"></script>
    <script src="d3.js"></script>
</head>
<body ng-controller="mainCtrl">
    Important<input type="range" min="0.1" max="100" ng-model="urgencyWeight">Urgent
    <table>
        <thead>
            <tr>
                <td>Event</td>
                <td>Importance</td>
                <td>Urgency</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in events" >
                <td>{{ obj.key }}</td>
                <td><input type="range" min="1" max="100" ng-model="obj.importance" value="obj.importance"></td>
                <td><input type="range" min="1" max="100" ng-model="obj.urgency" value="obj.urgency"></td>
            </tr>
        </tbody>
    </table>
    <div id="organized">
        <div class="postit-container" ng-repeat="obj in events | orderBy:'score' " style="right: {{$index*1}}px; top: {{$index*75}}px">
            <div class="postit" >
                {{ obj.key }}
            </div>
        </div>
    </div>
    <div d3-chart events="events" importanceweight="importanceWeight" urgencyweight="urgencyWeight">
      <!-- Here's where our visualization will go -->
    </div>










</body>
</html>